<div class="container">
	<div class="row">
		<div class="content">
			<div class="row">
				<div class="col-md-12">
					<h1>Contact</h1>
				</div>
				<div class="col-md-6">

					<p>
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
						This is a bit of filler text until I write what I want to go here.
					</p>
					<h4>Social</h4>
					<ul class="contact-social">
						<li><a href="">Twitter</a></li>
						<li><a href="">Google+</a></li>
						<li><a href="">LinkedIn</a></li>
						<li><a href="">Github</a></li>
					</ul>
				</div>
				<div class="col-md-6">
					<form role="form">
						<div class="form-group">
							<label for="name">Name</label>
							<input type="text" class="form-control" id="name" placeholder="Enter Name">
						</div>
						<div class="form-group">
							<label for="email">Email address</label>
							<input type="email" class="form-control" id="email" placeholder="Enter email">
						</div>
						<div class="form-group">
							<label for="url">Web site</label>
							<input type="url" class="form-control" id="url" placeholder="Enter url">
						</div>
						<div class="form-group">
							<label for="url">Topic</label>
							<select class="form-control">
								<option>General</option>
								<option>Support</option>
								<option>Employment</option>
							</select>
						</div>
						<div class="form-group">
							<label for="url">Message</label>
							<textarea class="form-control" rows="8"></textarea>
						</div>
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-10">
								<ul class="pull-right form-buttons">
									<li><button type="submit" class="btn btn-default btn-lg pull-right">Reset</button></li>
									<li><button type="submit" class="btn btn-default btn-lg pull-right">Send</button></li>
								</ul>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>