<div class="content projects">
	<ul>
		<li ng-repeat="project in projects">
			<div class="container">
				<div class="row">
					<div class="col-md-12"><h2>{{project.title}}</h2></div>
				  	<div class="col-md-4">
				  		<div class="img-block">
					  		<img ng-src="http://localhost:9000/images/projects/{{project.imgUrl}}">
				  		</div>
			  		</div>
				  	<div class="col-md-8">
				  		<p>{{project.description}}</p>
				  	</div>
				  	<div class="col-md-12">
				  		<div class="pull-right project-link">
				  			<a ng-href="{{project.projectUrl}}">Project Home</a>
				  			<a ng-href="{{project.gitUrl}}">Github</a>
				  			<a ng-href="{{project.documentation}}">Documentation</a>
			  			</div>
				  	</div>
				</div>
			</div>
		</li>
	</ul>
</div>